// contact form

$border-radius: .2em !default;
$font-size: .9em !default;
// $border-radius: 0 !default;

form{
  *{
    @include box-sizing(border-box);
  }
  margin:1em 0;
}
fieldset{
	border:1px solid $color-text-dark;
	border-radius: $border-radius;
	padding:.5em;
  text-align:center;
  *{
    text-align:left;
  }
  > .message.error {
    margin-bottom: .5em;
  }
  > div{
    position:relative;
    margin:0 0 .5em;
    padding:1.2em 0 0 0;
    vertical-align: top;
    @include breakpoint(medium){
      // width: 50%;
      width: 100%;
      // display: inline-block;
      display: block;
      float: left;
      padding-left: .2em;
      padding-right: .2em;
      // &.message{
        // display:block;
        // width:100%;
        // margin-left:auto;
        // margin-right:auto;
      // }
      // &.confirm{
        // float:none;
        // clear:both;
        // width:100%;
        // margin:0;
        // padding:0;
      // }
      &.width-1-1 {
        width:100%;
      }
      &.width-1-2 {
        width:50%;
      }
      &.width-1-3 {
        width:33%;
      }
      &.width-2-3 {
        width:66%;
      }
      &.width-1-4 {
        width:25%;
      }
      &.width-3-4 {
        width:75%;
      }
    }
    > label{
      position:absolute;
      // bottom:2em;
      top: 0em;
      // left: .2em;
      transition: 0.2s;
      font-size:$font-size;
    }
    .info {
      font-size:$font-size;
      background-color: rgba(255,255,255,.5);
      padding: .2em .5em;
      border-radius: $border-radius;
    }
  }
}
legend{
	padding:0 .5em;
}
input,textarea{
  background-color:$color-white-transp;
  &[required]{
    + label:after{
      content:"*";
    }
  }
}

input{
  border-radius: $border-radius;
  border:1px solid #ccc;
  + label{
    // top: 100%;
    // margin-top: -16px;
    + .message.error{
      border-top-left-radius:0;
      border-top-right-radius:0;
      // border-bottom-left-radius:.2em;
      // border-bottom-right-radius:.2em;
      border-top-width:0;
      padding-top:.2em;
    }
  }
  &[type=text],&[type=mail],&[type=date]{
    display:block;
    margin:0;
    padding:5px;
    width:100%;
    line-height: 1em;
    height: 2em;
    &:hover,&:focus{
      border:1px solid #ccc;
      background-color:#fefefe;
      + label{
        margin-left:.2em;
      }
    }
  }
  &[type=checkbox],&[type=radio]{
    
    + label{
      position:relative;
    }
  }
  &[type=submit]{
    display: block;
    padding: .2em .5em;
    background-color: $color-main-dark;
    margin: 0 auto;
    color: #fefefe;
    font-size: $font-size;

    // display:block;
    // padding:.2em;
    // background-color:$clr_light;
    // border:1px solid $color-main-dark;
    &:hover,&:focus{
      background-color:$color-main;
    }
    + p{
      margin-top:.5em;
    }
  }
  &:invalid{
    // border:1px solid tomato;
  }
  &:valid{
    // border:1px solid $color-main-dark;
    // + label + .message{
      // display:none;
    // }
  }
}
textarea{
  display:block;
	width:100%;
	height:10em;
	padding:.5em;
	// font-size:1.25em;
  border-radius: $border-radius;
  border:1px solid #ccc;
  font-family: $font;
  &:hover,&:focus{
    + label{
      margin-left:.2em;
    }
  }
  // &[name=address]{
    // height:3em;
  // }
  
}
.message{
  font-size:$font-size;
  &.error{
    color:$color-error;
    background-color:$color-white-transp;
    border: 1px solid $color-error;
    margin: 0 .2em;
    // padding: .2em .3em;
    padding: .5em;
    border-radius: $border-radius;
    line-height:1.2em;
  }
  &.success{
    font-size: $font-size;
    border: .5em solid $color-main-dark;
    padding: 1em .5em;
    border-radius: $border-radius;
    background-color: $color-white-transp;
    text-align: center;
    margin: 1em 0.2em;
  }
  &.alarm{
    color: $color-alarm;
    border: 2px solid $color-alarm;
  }
}