// source: https://github.com/fiatjaf/classless/blob/master/themes/wardrobe/theme.css

@import "classless-wardrobe";
@import "../_sass/base";
@import "../_sass/mixins";
@import "../_sass/form";

img {
  border:none;
}

nav > ul {
  padding:0;
}

body {
  background:none;
}