// source: https://github.com/fiatjaf/classless/blob/master/themes/wardrobe/theme.css

@import "classless-wardrobe";
@import "../_sass/base";
@import "../_sass/mixins";
@import "../_sass/form";

img {
  border:none;
}

nav > ul {
  padding:0;
  a {
    position:relative;
    &:hover, &:focus, &:active, &.active {
      &:before,&:after{
        font-size: 1.2em;
        position:absolute;
        top:.7em;
      }
      &:before{
        content: '[';
        left:0;
      }
      &:after{
        content: ']';
        right:0;
      }
    }
    &.active:before, &.active:after{
      font-weight: bold;
    }
  }
}

body {
  background:none;
}